@import "tailwindcss";
.background-col{
  background: #020024;
background: linear-gradient(90deg, rgba(2, 0, 36, 1) 0%, rgba(9, 9, 121, 1) 51%, rgba(0, 212, 255, 1) 100%);
}
.shadow-full {
  box-shadow: 0px 7px 29px 0px rgba(100, 100, 111, 0.2);
  padding: 1.5rem;
  border-radius: 0.5rem;
  background-color: white;
}